<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial Calculator</title>
    <link rel="stylesheet" href="static/home.css">
</head>
<body>
    <h1>Welcome to the Financial Calculator</h1>
    <nav>
        <ul>
            <li><a href="/future_value">Future Value</a></li>
            <li><a href="/present_value">Present Value</a></li>
            <li><a href="/compound_interest">Compound Interest</a></li>
            <li><a href="/simple_interest">Simple Interest</a></li>
        </ul>
    </nav>
</body>
</html>
